# Dependencies
node_modules/
node_modules_*/

# Build output
dist/

# Astro cache
.astro/

# Editor
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Environment
.env
.env.local
.env.production

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
!.env.example
